<header class="header">
    <nav class="navbar">
        <div class="nav-brand">
            <i class="fas fa-birthday-cake"></i>
            <span>Miel y Vainilla</span>
        </div>
        <ul class="nav-menu">
            <li><a href="#inicio">Inicio</a></li>
            <li><a href="#productos">Productos</a></li>
            <li><a href="#nosotros">Nosotros</a></li>
            <li><a href="#comunidad">Comunidad</a></li>
            <li><a href="#contacto">Contacto</a></li>
        </ul>
    </nav>
</header>
